{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}
{% if recipe.title == none %}
<h1 align="center">New Recipe</h1>
{%else%}
<h1 align="center">Edit Recipe</h1>
{% endif %}

<div align="center" class="form-group">
    <label align="center">Ingredients:</label>
    {% for ingredient in recipe.ingredients %}
    <div class="list-group-item Ingredient_card">
        {{ ingredient.name }} {{ ingredient.amount }} {{ ingredient.unit }}

        <form action="/delete-ingredient/{{ingredient.id}}" enctype="multipart/form-data" id="delete-ingredient" method="POST">
            <button type="submit" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
    </div>
    {% endfor %}
    <form action="/add/{{recipe.id}}" enctype="multipart/form-data" id="ingredient" method="POST">
        <div class="input-group">

            <input type="text" class="form-control" name="name" placeholder="ingredient" aria-label="ingredient" form="ingredient" aria-describedby="basic-addon2" required>

            <div class="input-group-append">
                <div class="form-group col" ">
                    <input type="number" step="0.01" class="form-control id="number" name="amount" placeholder="amount" form="ingredient" value="" required>
                </div>
                <div class="form-group col">
                    <select name="unit" class="form-control" id="exampleFormControlSelect1" form="ingredient" required>
                        <option value="">unit</option>
                        <option value="Liter">l</option>
                        <option value="Milliliter">ml</option>
                        <option value="add more ...">add more ...</option>
                    </select>
                </div>
                <div class="form-group col">
                    <button type="submit" class="btn btn-outline-primary">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>

<ul class="list-group list-group-flush" id="images">
    {% if recipe.images|length > 0 %}
    {% for i in range((recipe.images|length)) %}
    <li class="list-group-item">
        <a href="/img/{{recipe.images[i].id}}" target="_blank">
            {{recipe.images[i].name}}
            <a />
            <form action="/delete-image/{{recipe.images[i].id}}" enctype="multipart/form-data" id="delete-image" method="POST">
                <button type="submit" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
    </li>
    {% endfor %}
    {% endif %}
    <li class="list-group-item">
        <form action="/upload/{{recipe.id}}" enctype="multipart/form-data" method="POST">
            <div align="center">
                <input type="file" name="pic" />
                <input type="submit" value="Upload a picture" />
            </div>
        </form>
    </li>
</ul>

<br />

<form id="recipe" method="POST">
    <label class="form-check-label" for="title">Title</label>
    <textarea id="title" name="title" class="form-control" required>{{recipe.title}}</textarea>
    <br />
    <label class="form-check-label" for="Execution">Execution</label>
    <textarea id="execution" name="execution" class="form-control" required>{{recipe.execution}}</textarea>
    <br />
    <div align="center" class="form-row">
        <div class="form-group col">
            <div align="center">
                {% if recipe.privat %}
                <input class="form-check-input" type="checkbox" name="privat" id="privat" value="privat" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" name="privat" id="privat" value="privat">
                {% endif %}
                <label class="form-check-label" for="privat">privat</label>
            </div>
        </div>
        <div align="center" class="form-group col">
            <label for="exampleFormControlSelect1">Number of people</label>
            <select class="form-control" id="exampleFormControlSelect2" name="amount" form="recipe" required>
                <option value="">Select</option>
                {% for i in range(100)%}
                {% if recipe.amount == i+1 %}
                <option selected value="{{i+1}}">{{i+1}}</option>
                {% else %}
                <option value="{{i+1}}">{{i+1}}</option>
                {% endif %}
                {%endfor%}
            </select>
        </div>

        <div class="form-group col">
            <label align="center">This recipe is:</label>
            <ul align="center">
                <li class="form-check form-check-inline">
                    {% if recipe.vegetarian %}
                    <input class="form-check-input" type="checkbox" name="vegetarian" id="vegetarian" value="vegetarian" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" name="vegetarian" id="vegetarian" value="vegetarian">
                    {% endif %}
                    <label class="form-check-label" for="vegetarian">vegetarian</label>
                </li>
                <li class="form-check form-check-inline">
                    {% if recipe.vegan %}
                    <input class="form-check-input" type="checkbox" name="vegan" id="vegan" value="vegan" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" name="vegan" id="vegan" value="vegan">
                    {% endif %}
                    <label class="form-check-label" for="vegan">vegan</label>
                </li>
            </ul>
        </div>
    </div>

    <div align="center" class="form-group">
        <label align="center">This recipe does NOT contain:</label>
        <ul align="center">
            <li class="form-check form-check-inline">
                {% if recipe.milk %}
                <input class="form-check-input" type="checkbox" name="milk" id="milk" value="milk" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" name="milk" id="milk" value="milk">
                {% endif %}
                <label class="form-check-label" for="milk">milk</label>
            </li>
            <li class="form-check form-check-inline">
                {% if recipe.eggs %}
                <input class="form-check-input" type="checkbox" name="eggs" id="eggs" value="eggs" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" name="eggs" id="eggs" value="eggs">
                {% endif %}
                <label class="form-check-label" for="eggs">eggs</label>
            </li>
            <li class="form-check form-check-inline">
                {% if recipe.peanuts %}
                <input class="form-check-input" type="checkbox" name="peanuts" id="peanuts" value="peanuts" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" name="peanuts" id="peanuts" value="peanuts">
                {% endif %}
                <label class="form-check-label" for="peanuts">peanuts</label>
            <li class="form-check form-check-inline">
                {% if recipe.soya %}
                <input class="form-check-input" type="checkbox" name="soya" id="soya" value="soya" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" name="soya" id="soya" value="soya">
                {% endif %}
                <label class="form-check-label" for="soya">soya</label>
            </li>
            <li class="form-check form-check-inline">
                {% if recipe.gluten %}
                <input class="form-check-input" type="checkbox" name="gluten" id="gluten" value="gluten" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" name="gluten" id="gluten" value="gluten">
                {% endif %}
                <label class="form-check-label" for="gluten">gluten</label>
            </li>
            <li class="form-check form-check-inline">
                {% if recipe.tree_nuts %}
                <input class="form-check-input" type="checkbox" name="tree_nuts" id="tree_nuts" value="tree_nuts" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" name="tree_nuts" id="tree_nuts" value="tree_nuts">
                {% endif %}
                <label class="form-check-label" for="tree_nuts">tree_nuts</label>
            </li>
            <li class="form-check form-check-inline">
                {% if recipe.fish %}
                <input class="form-check-input" type="checkbox" name="fish" id="fish" value="fish" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" name="fish" id="fish" value="fish">
                {% endif %}
                <label class="form-check-label" for="fish">fish</label>
            </li>
            <li class="form-check form-check-inline">
                {% if recipe.shellfish %}
                <input class="form-check-input" type="checkbox" name="shellfish" id="shellfish" value="shellfish" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" name="shellfish" id="shellfish" value="shellfish">
                {% endif %}
                <label class="form-check-label" for="shellfish">shellfish</label>
            </li>
        </ul>
    </div>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
<br />

{% if recipe.title != none %}
<div align="center">
    <a class="btn btn-warning" id="Profil" href="/user/{{cuser.user_name}}">Cancel</a>
</div>
<br />
{% endif %}

<div align="center">
    <form action="/delete-recipe/{{recipe.id}}" enctype="multipart/form-data" id="delete-recipe" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
<br />


    {% endblock %}
