{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}
{% if recipe == "" %}
<h1 align="center">New Recipe</h1>
{%else%}
<h1 align="center">Edit Recipe</h1>
{% endif %}
<form method="POST">
    <br />
    <div align="center" class="form-row">
        <div align="center" class="form-group col">
            <label for="exampleFormControlSelect1">Number of people</label>
            <select class="form-control" id="exampleFormControlSelect1">
                {% for i in range(100)%}
                <option>{{i+1}}</option>
                {%endfor%}
            </select>
        </div>

        <div class="form-group col">
            <label align="center">This recipe is:</label>
            <ul align="center">
                <li class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Vegetarian" value="Vegetarian">
                    <label class="form-check-label" for="Vegetarian">Vegetarian</label>
                </li>
                <li class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Vegan" value="Vegan">
                    <label class="form-check-label" for="Vegan">Vegan</label>
                </li>
            </ul>
        </div>
    </div>

    <div align="center" class="form-group col">
        <label align="center">This recipe does NOT contain:</label>
        <ul align="center">
            <li class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="milk" value="milk">
                <label class="form-check-label" for="milk">milk</label>
            </li>
            <li class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="eggs" value="eggs">
                <label class="form-check-label" for="eggs">eggs</label>
            </li>
            <li class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="peanuts" value="peanuts">
                <label class="form-check-label" for="peanuts">peanuts</label>
            <li class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="soya" value="soya">
                <label class="form-check-label" for="soya">soya</label>
            </li>
            <li class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="gluten" value="gluten">
                <label class="form-check-label" for="gluten">gluten</label>
            </li>
            <li class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="tree_nuts" value="tree_nuts">
                <label class="form-check-label" for="tree_nuts">tree_nuts</label>
            </li>
            <li class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="fish" value="fish">
                <label class="form-check-label" for="fish">fish</label>
            </li>
            <li class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="shellfish" value="shellfish">
                <label class="form-check-label" for="shellfish">shellfish</label>
            </li>
        </ul>
    </div>
    <div align="center" class="form-group col">
        <label align="center">This recipe does NOT contain:</label>
        <ul align="center">
            <li class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="milk" value="milk">
                <label class="form-check-label" for="milk">milk</label>
            </li>
        </ul>
    </div>
    <textarea name="recipe" id="recipe" class="form-control"></textarea>
    <br />
    <div align="center">
        <input type="file" name="pic" />
        <input type="submit" value="Upload a picture" />
    </div>
    <br />
    <div align="center" class="form-row">
        <div class="form-group col">
            <div align="center">
                <input class="form-check-input" type="checkbox" id="privat" value="privat">
                <label class="form-check-label" for="privat">privat</label>
            </div>
        </div>
        <div class="form-group col">
            <div align="center">
                <button type="submit" class="btn btn-primary">Add recipe</button>
                <a class="btn btn-danger" id="Profil" href="/user/{{cuser.user_name}}">Cancel</a>
            </div>
        </div>
    </div>
</form>
<br />


{% endblock %}
