{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="card-deck recipe_card-deck d-flex justify-content-around">
    {% for recipe in recipes %}
    {% if not recipe.privat %}
    <a id="Recipe" href="/recipe/{{recipe.id}}" target="_blank" class="recipe_card-link">
        {% if recipe.images|length > 0 %}
        <div class="container recipe_card" style="background-image: url('/img/{{recipe.images[0].id}}');">
        {% else %}
        <div class="container recipe_card" style="background-image: url('/static/img/no-image.jpg'); ">
        {% endif %}
            <div class="recipe_card-text">
                <h5 class="align-middle" align="center" >{{recipe.title}}</h5>
                <p class="align-middle" align="center" >For {{recipe.amount}}</p>
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
