{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<h1 align="center">{{user.user_name}}'s Profile</h1>
<p>user info comming later ...</p>
<br/>
<h2 align="center">{{user.user_name}}'s Recipes</h2>

<div class="card-deck recipe_card-deck d-flex justify-content-around">
    {% if user.id == cuser.id %}
    <a id="Recipe" href="/edit/0" class="recipe_card-link">
        <div class="container recipe_card recipe_card-new" style="background-image: url('/static/img/new-recipe.png'); ">
            
        </div>
    </a>
    {% endif %}

    {% for recipe in user.recipes %}
        {% if user.id == cuser.id %}
        {% if recipe.images|length > 0 %}
        <div class="container recipe_card" style="background-image: url('/img/{{recipe.images[0].id}}');">
        {% else %}
        <div class="container recipe_card" style="background-image: url('/static/img/no-image.jpg'); ">
        {% endif %}
            <div class="recipe_card-text">
                <a id="Recipe" href="/recipe/{{recipe.id}}" class="recipe_card-link">
                    <h4 class="align-middle" align="center">View</h4>
                </a>
                <a id="Recipe" href="/edit/{{recipe.id}}" target="_blank" class="recipe_card-link">
                    <h4 class="align-middle" align="center">Edit</h4>
                </a>
            </div>
        </div>
    
        {% else %}
            {% if not recipe.privat %}
            <a id="Recipe" href="/recipe/{{recipe.id}}" target="_blank" class="recipe_card-link">
                {% if recipe.images|length > 0 %}
                <div class="container recipe_card" style="background-image: url('/img/{{recipe.images[0].id}}');">
                {% else %}
                <div class="container recipe_card" style="background-image: url('/static/img/no-image.jpg'); ">
                    {% endif %}
                    <div class="recipe_card-text">
                        <h5 class="align-middle" align="center">{{recipe.title}}</h5>
                        <p class="align-middle" align="center">For {{recipe.amount}}</p>
                    </div>
                </div>
            </a>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>

    {% endblock %}
