{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<h1 align="center">TheSmed's Profile</h1>
user info comming later ...
<br/>
<h2 align="center">My Recipes</h2>
<ul class="list-group list-group-flush" id="recipes">
    <li align="center" class="list-group-item">
        <a class="btn btn-primary" id="Profil" type="butten" href="/edit/0">Add new recipe</a>
    </li>
    {% for recipe in cuser.recipes %}
    <li class="list-group-item">
        {{ recipe.title }}
        <button type="button" class="close" onClick="deleteRecipe({{ recipe.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
{% endblock %}
