body {
    background-image: url("img/pexels-dmitry-demidov-3800260.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.main-side{

}

.main-center {
    width: 70%;
    min-width: 300px
}

.recipe_card-deck .recipe_card {
    display: flex;
}

.recipe_card {
    background-color: darkslategray;
    border-color: darkslategray;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    margin: 8px 4px;
    padding: 2px 2px;
    height: 150px;
    width: 250px;
    float: right
}
.recipe_card-delete {
    position: absolute;
    top: 8px;
    right: 16px;
}
.recipe_card:hover {
    background-color: black;
    border-color: black;
    padding: 8px 8px
}

.recipe_card img {
    border-color: blue;
    border-radius: 24px;
    padding: 2px 2px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: black
}

.recipe_card-link {
    text-decoration: none;
}

.recipe_card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    visibility: hidden
}

.recipe_card:hover .recipe_card-text {
    visibility: visible
}